/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	color: white;
	background-color: #3161E0;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
	background-color: #3161E0;
}

.logo-container{
	display: flex;
	align-content: center;
}

.header-links {
	flex-grow: 1;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-login {
	text-align: right;
}

.text-black{
	color:black;
}


/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	background-image: url(./../img/jumbo.png);
	background-size: contain;
	


	/* debug */
	/* background-color: darkblue; */
}

.jumbotron .content {
	min-height: 400px;
	width: 65%;

	/* debug
	background-color: #ee82ee;
	border: 2px dashed black; */
}

h1{
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 40px;
	color: white;
}

.text-center{
	text-align: center;
	margin-bottom: 20px;
	padding: 0 50px;
	line-height: 1.4;
}

.button-container{
	display: flex;
	justify-content: center;
	gap: 30px;
}
 
.button-black{
	background-color: black;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;

	/* debug */
	min-height: 500px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: lightgray;
}

.main-col {
	width: 60%;

	/* debug */
	/* background-color: cornflowerblue; */
	/* border: 2px dashed black; */
}

.side-col {
width: 40%;
	/* debug */
	/* background-color: pink;
	border: 2px dashed black; */
}

h2{
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	padding-top: 25px;
	margin-bottom: 20px;
}

h2>p{
	text-align: left;
	line-height: 1.4;
	
}

.hilighted-content {
	flex-grow: 1;

	/* debug */
	/* min-height: 800px;
	background-color: forestgreen;
	border: 2px dashed black; */
}

.big-img-container{
	display: flex;
	justify-content: center;
}

.star-text{
	background-image: url(./../img/stars.svg); 
	background-repeat : no-repeat;
	background-position: center;
}

h3{
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}

.button-lilla{
	background-color: #8EA1E1;
	margin-left: 500px;

}
/* FOOTER */

.footer-main {
	padding-top: 10px;
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);

	/* debug */
	/* background-color: #f08080;
	border: 2px dashed black; */
}

h4{
	font-size: 39px;
	color: #7289DA;
}

h5{
	text-align: center;
	color: #7289DA;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
	/* background-color: #20b2aa;
	border: 2px dashed black; */
}

.footer-col {
	width: 25%;

	/* debug */
	/* background-color: #20b2aa;
	border: 2px dashed white; */
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	/* background-color: #7fffd4; */
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	/* background-color: #ffb6c1;
	border: 2px dashed black; */
}